In [83]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [107]:
df=pd.read_csv('HR_EA.csv')

In [108]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [109]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [110]:
df['OverTime'] = df['OverTime'].map({'Yes': 1, 'No': 0})

In [111]:
x=df[['Age','OverTime','JobSatisfaction','WorkLifeBalance','MonthlyIncome','JobLevel','YearsAtCompany','TotalWorkingYears','DistanceFromHome']]
y=df['Attrition']

In [112]:
x

,Age,OverTime,JobSatisfaction,WorkLifeBalance,MonthlyIncome,JobLevel,YearsAtCompany,TotalWorkingYears,DistanceFromHome
0,41,1,4,1,5993,2,6,8,1
1,49,0,2,3,5130,2,10,10,8
2,37,1,3,3,2090,1,0,7,2
3,33,1,3,3,2909,1,8,8,3
4,27,0,2,3,3468,1,2,6,2
...,...,...,...,...,...,...,...,...,...
1465,36,0,4,3,2571,2,5,17,23
1466,39,0,1,3,9991,3,7,9,6
1467,27,1,2,3,6142,2,6,6,4
1468,49,0,2,2,5390,2,9,17,2
1469,34,0,3,4,4404,2,4,6,8

In [113]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [114]:

scaler=StandardScaler()
scaler.fit(x_train)
x_trs=scaler.transform(x_train)
x_tes = scaler.transform(x_test)

In [117]:
x_train_scaled=pd.DataFrame(x_trs,columns=x_train.columns)
x_test_scaled=pd.DataFrame(x_tes,columns=x_test.columns)

In [118]:
x_test_scaled

,Age,OverTime,JobSatisfaction,WorkLifeBalance,MonthlyIncome,JobLevel,YearsAtCompany,TotalWorkingYears,DistanceFromHome
0,-0.953774,-0.636410,-1.582336,0.357435,0.442046,-0.025447,-0.317023,-0.655311,-0.522699
1,1.763636,-0.636410,-1.582336,0.357435,-0.410610,-0.025447,-0.481333,-0.783325,0.458849
2,-1.388559,-0.636410,0.241111,0.357435,-1.025720,-0.932274,-0.974263,-1.295383,1.563090
3,0.894065,-0.636410,-1.582336,0.357435,0.709975,0.881380,-0.974263,1.776960,-0.277312
4,-0.084203,-0.636410,-0.670613,1.796970,-0.099549,-0.025447,0.997457,0.624832,-0.522699
...,...,...,...,...,...,...,...,...,...
289,-0.301596,-0.636410,1.152834,0.357435,-0.023058,-0.025447,-0.152713,-0.655311,-0.890780
290,-0.301596,-0.636410,-1.582336,0.357435,-0.268040,-0.025447,-1.138573,-0.527297,-0.154619
291,1.437547,1.571314,-1.582336,0.357435,2.230434,1.788207,-0.645643,1.776960,2.299251
292,0.024494,-0.636410,1.152834,0.357435,-0.361741,-0.932274,-0.974263,-0.911340,0.090768
293,1.111458,1.571314,1.152834,0.357435,-0.392125,-0.025447,0.011597,-0.399283,-0.890780